.wrap {
    width: 100vw;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 150px;
}

.title {
    font-size: 40px;
    line-height: 133%;
    font-weight: 700;
    color: #fff;
    display: flex;
    align-items: center;
}

.section {
    width: 100%;
    margin-top: 48px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.audit {
    width: 660px;
    height: 155px;
    margin-top: 32px;
    padding: 26px 40px;
    background: #1E1F23;
    border: 1px solid #393B3F;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.mascot {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 199px;
    height: 239px;
}

.audit:first-child {
    margin-top: 0;
}

.auditIcon {
    display: block;
}

.auditPadIcon {
    display: none;
}

.auditTime {
    margin-top: 30px;
    font-size: 16px;
    line-height: 133%;
    color: #999;
}

.auditStatus {
    font-size: 24px;
    line-height: 133%;
    color: rgba(255, 255, 255, .7);

    &.fulfill {
        color: #3083FF;
        opacity: 1;

        transition: opacity .3s ease-in-out;

        &:hover {
            opacity: .7;
        }
    }
}

.auditCard {
    position: relative;
    width: 483px;
    padding: 40px;
    background: #1E1F23;
    border: 1px solid #393B3F;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.auditTitle {
    font-size: 32px;
    line-height: 133%;
    color: #fff;
    font-weight: 500;
}

.auditDesc {
    margin-top: 28px;
    font-size: 28px;
    line-height: 133%;
    font-weight: 450;
    color: rgba(255, 255, 255, .7);
}

.auditBtn {
    position: relative;
    width: 158px;
    height: 47px;

    background: transparent;
    border: 1px solid #414349;
    border-radius: 8px;

    font-size: 20px;
    line-height: 133%;
    color: rgba(255, 255, 255, .7);

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    opacity: 1;
    transition: opacity .2s ease-in-out;

    &:hover {
        opacity: .7;
    }

    svg {
        margin-left: 10px;
    }
}

@media screen and (max-width: 1199px) and (min-width: 744px) {
    .wrap {
        margin-top: 87px;
        padding: 0 30px;
    }

    .title {
        font-size: 20px;
        line-height: 133%;
    }

    .section {
        margin-top: 20px;
        align-items: flex-start;
        flex-direction: column;
    }

    .auditList {
        width: 100%;
        margin-top: 40px;
        order: 2;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .audit {
        width: calc(33% - 17px);
        height: 147px;
        margin-top: 0;
        padding: 20px;
        flex-direction: column;
        align-items: flex-start;
    }

    .auditCard {
        width: 100%;
        height: 194px;
        padding: 20px;
        border-radius: 10px;
        order: 1;
    }

    .auditTitle {
        font-size: 16px;
    }

    .auditDesc {
        margin-top: 24px;
        font-size: 14px;
    }

    .auditIcon {
        display: none;
    }   

    .auditPadIcon {
        display: block;
    }

    .auditTime {
        margin-top: 12px;
        font-size: 12px;
    }

    .auditStatus {
        margin-top: 30px;
        font-size: 14px;
    }

    .auditBtn {
        width: 153px;
        height: 39px;
        border-radius: 8px;
        font-size: 14px;
    }
}

@media screen and (max-width: 743px) {
    .wrap {
        margin-top: 40px;
        padding: 0 20px;
    }

    .title {
        font-size: 20px;
    }

    .section {
        margin-top: 20px;
        flex-direction: column;
    }

    .auditCard {
        width: 100%;
        height: auto;
        padding: 20px;
        order: 1;
    }

    .auditTitle {
        font-size: 16px;
    }

    .auditDesc {
        margin-top: 24px;
        font-size: 14px;
    }

    .auditBtn {
        margin-top: 63px;
        font-size: 14px;
    }

    .auditList {
        margin-top: 20px;
        order: 2;
    }

    .audit {
        width: 100%;
        height: 117px;
        padding: 20px;
        margin-top: 20px;
        flex-direction: column;

        div {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    .auditIcon {
        display: none;
    }

    .auditPadIcon {
        display: block;
    }

    .auditTime {
        margin-top: 0;
        font-size: 12px;
    }

    .auditStatus {
        width: 100%;
        margin-top: 27px;
        font-size: 14px;
        text-align: left;
    }
}
