.wrap {
    height: 100px;
    width: 100vw;
    border-bottom: 1px solid rgba(35, 97, 255, 0.1);
    backdrop-filter: blur(3px);
}

.container {
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
}

.logo {
    width: 58px;
    height: 58px;

    img {
        width: 100%;
        height: 100%;
    }
}

.links {
    display: flex;
    align-items: center;

    p {
        margin: 0 20px;
        font-size: 20px;
        color: #fff;
        cursor: pointer;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

.launchBtnWrap {
    padding: 5px;
    border-radius: 63px;
    border: 2px solid transparent;
    background-origin: border-box;
    background-clip: padding-box,border-box;
    background-image: linear-gradient(0deg, #191B1F, #191B1F),radial-gradient(circle at left bottom, #863CFF, #FF7878);
    opacity: 1;
    cursor: pointer;
    transition: opacity .2s ease-in-out;

    &:hover {
        opacity: .7;
    }
}

.launchBtn {
    width: 160px;
    height: 46px;

    background: linear-gradient(26deg, #863CFF 11.36%, #FF7878 82.43%);
    border-radius: 63px;

    font-size: 16px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
