.wrap {
    position: relative;
    padding: 66px 360px 77px;
    background: var(--main-color);
    display: flex;
    justify-content: space-between;
}

.links {
    display: flex;

    p {
        margin-right: 40px;
        font-size: 20px;
        line-height: 25px;
        color: rgba(255, 255, 255, 0.7);
        cursor: pointer;
        font-style: normal;
        font-family: CircularStd-Book;
        font-weight: 450;

        &:last-child {
            margin-right: 0;
        }
    }
}

.brandIcon {
    img {
        width: 100px;
    }
}

.rightPart {
    display: flex;
    flex-direction: column;
}

.medias {
    margin-top: 47px;
    display: flex;
    justify-content: flex-end;

    div {
        margin-right: 40px;
        cursor: pointer;

        &:last-child {
            margin-right: 0;
        }
    }
}

@media screen and (min-width: 744px) and (max-width: 1199px) {
    .wrap {
        display: flex;
        padding: 30px;
    }
    .Container {
        width: 744px;
        display: flex;
        margin: auto;
        flex-direction: row;
    }
    .brandIcon {
        position: relative;
        top: 0;
        left: 0;
    }

    .rightPart {
        width: 100%;
    }

    .links {
        display: flex;
        margin-top: 6px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .medias {
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
}

@media screen and (max-width: 743px) {
    .wrap {
        padding: 30px 30px;
        display: flex;
        box-sizing: content-box;
    }
    .Container {
        width: 100%;
        margin: auto;
    }
    .brandIcon {
        flex: 1;
        justify-content: flex-start;
        float: left;
    }
    .rightPart {
        flex: 1;
        float: right;
    }

    .links {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        p {
            margin-right: 20px;
            font-size: 14px;
        }
    }

    .medias {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        div {
            margin-right: 20px;
            cursor: pointer;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .wrap {
        padding: 30px 30px;
        display: flex;
    }
    .Container {
        width: 1200px;
        margin: auto;
    }
    .brandIcon {
        flex: 1;
        justify-content: flex-start;
        float: left;
    }
    .rightPart {
        flex: 1;
        float: right;
    }

    .links {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        p {
            margin-right: 20px;
        }
    }

    .medias {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
}
