.wrap {
    width: 100vw;
    height: calc(var(--top-wrap-height) - var(--banner-height));
    max-width: var(--content-max-width);
    padding-bottom: var(--top-wrap-bottom-padding);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.name {
    font-size: 64px;
    line-height: 150%;
    color: #fff;
}

.slogan {
    font-size: 32px;
    line-height: 150%;
    color: rgba(255, 255, 255, .7);
}

.socialRow {
    margin-top: 28px;
    display: flex;
    align-items: center;

    a {
        margin-right: 45px;
        opacity: 1;
        transition: opacity .2s ease-in-out;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            opacity: .7;
        }
    }
}

@media screen and (max-width: 1365px) {
    .name {
        padding: 0;
        font-size: 30px;
        line-height: 133%;
    }

    .slogan {
        padding: 0;
        font-size: 14px;
        line-height: 133%;
    }

    .socialRow {
        padding: 0;
    }
}

@media screen and (max-width: 1365px) and (min-width: 744px) {
    .wrap {
        padding: 0 30px;
        padding-bottom: var(--top-wrap-bottom-padding);
    }
}

@media screen and (max-width: 743px) {
    .wrap {
        padding: 0 20px;
        padding-bottom: var(--top-wrap-bottom-padding);
    }
}
