.wrap {
    position: relative;
    width: 100vw;
    height: var(--top-wrap-height);
}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    user-select: none;
    pointer-events: none;

    img,
    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    img {
        z-index: 2;
        transition: opacity .2s ease-in-out;
    }
}

.container {
    position: relative;
    width: 100vw;
    height: 100%;
    z-index: 3;
}
